@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar{
  display: none;  
}
::-webkit-input-placeholder {
  font-style: italic;
  font-size: 16px;
}
body {
  background-color: #282c34;
}
.App {
  background-color: #282c34;
  scrollbar-width: none
}
box-icon:hover{
  cursor:pointer; 
}

/* NAVBAR */
.logo {
  filter: drop-shadow(2px 4px 6px black);
}
.logo:hover {
  filter: drop-shadow(-1px 1px 0px black);
}
  /* LOGO "N" ESCONDIDO */
.logoM{
  display: none; 
}

/* MOVIES */
.moviesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(229px, 1fr));
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 10px;
}
.movie img {
  box-shadow: 0px 1px 5px -2px #727070;
}
.movie-description {
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba( 51, 48, 48, 0.55 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 3px );
  transform: translateY(100%); 
  transition: all 250ms ease-out; 
}
.movie:hover .movie-description {
  transform: translateY(0%); 
}
.boat {
  filter: drop-shadow(0px 0px 6px #3f4552);
}





/* MEDIA QUERIES */

@media screen and (min-width: 320px) {
  .logo {
    display: none; 
  }
  .logoM {
    display: block;
    width: 100px; 
  }
  ul li {
    display: none; 
  }
  .form {
    width: 215px;
  }
  .search-img {
    display: none; 
  }
}
@media screen and (min-width: 374px) {
  .form {
    width: 100%; 
  }
  .search_content {
    width: 18rem; 
  }
}
@media screen and (min-width: 768px) {
  .menu_content {
    margin-right: 1rem;  
  }
  .search_content {
   margin-right: -4rem;  
  }
  ul {
    margin-left: -15px; 
  }
  ul li {
    display: flex; 
    padding: .3rem; 
  }
  .form {
    width: 315px;
}
}
@media screen and (min-width: 1024px) {
  .logo {
    margin-left: 1rem; 
    display: block; 
    width: 8rem; 
  }
  .logoM {
    display: none;
  }
  .menu_content {
    width: 45%;
  }
  .search_content {
   margin-right: 0;  
  }
  .form {
    margin-right: 2px; 
  }
  .search-img {
    margin-right: 5px; 
    display: block; 
  }
  ul{
    padding: 0 1rem; 
    display: flex; 
  }
  ul li {
    margin-right: 5px; 
  }
}
@media screen and (min-width: 1440px) {
  .menu_content { 
    width: 50%; 
  }
  .form, .search-img {
    margin-right: 10px; 
  }
}